@use '../../app/globals.scss' as *;

.btn {
    background-color: $accent-color;
    color: $txt-color-primary-inv;
    width: max-content;
    @apply mb-4 p-2 rounded transition-all duration-300 ease-in-out cursor-pointer mt-1;
    
    &:hover {
        background-color: $accent-color-on-hover;
    }
}

.next-btn {
    @apply self-end;
}