@tailwind base;
@tailwind components;
@tailwind utilities;

$primary-color: hsl(0, 0%, 100%);
$secondary-color: hsl(206, 35%, 23%);
$accent-color: hsl(4, 86%, 63%);
$txt-color-primary: $secondary-color;
$txt-color-secondary: hsl(0, 0%, 62%);
$txt-color-primary-inv: hsl(0, 0%, 100%);
$border-input-field: $txt-color-secondary;

// color on hovers...
$accent-color-on-hover: hsl(4, 86%, 55%);

// font sizes...
$font-xxl: 40px;
$font-xl: 32px;
$font-lg: 26px;
$font-md: 20px;
$font-sm: 16px;
$font-xs: 14px;
$font-xxs: 12px;

// breakpoints...
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // @apply min-h-screen;
}

// utility classes...
.centered-container {
  min-height: 100dvh;
}

.text-accent-color {
  color: $accent-color;
}

// .box-shadow {
//   // box-shadow: $secondary-color 0px 0.25px 4px;
//   box-shadow: $secondary-color 1px 0px 6px 0px;
// }

.box-shadow-light {
  box-shadow: $secondary-color 0px 0.25px 1px;
}

.heading {
  color: $txt-color-primary;
  @apply text-2xl font-bold capitalize;
}

@mixin md{
  @media screen and (min-width: $md) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: $lg) {
    @content;
  }
}

@layer utilities {
  .hide-scroll::-webkit-inner-spin-button,
  .hide-scroll::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
  }

  .button-shadow {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 300ms ease-in-out;
    
    &:hover {
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    }

    &:active {
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
      transform: translateY(2%);
    }
  }
}