@use '../../app/globals.scss' as *;

.alice-carousel__wrapper {
    @apply rounded-md;
}
.alice-carousel__stage-item {
    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: center;
        cursor: grab;
    }

    @include md {
        img {
            height: 280px;
        }
    }
    @include lg {
        img {
            height: 400px;
        }
    }
}

// need bg color change

// .alice-carouse__dots {
//     li {
//         background-color: $accent-color !important;
//     }
// }