@use './../globals.scss' as *;

.signup-form {
    @apply flex flex-col w-[80%] max-w-[444px] mx-auto px-4 rounded-md shadow-lg break-words break-all;
}
.heading-signup {
    font-size: $font-lg;
    font-weight: 600;
    color: $txt-color-primary;

    @include md {
        font-size: $font-xl;
    }
}

.subheading,
.label {
    color: $txt-color-primary;
    font-size: $font-xs;

    @include md {
        font-size: $font-sm;
    }
}

.subheading {
    font-size: $font-sm;
    @apply font-bold mt-2 ;

    @include md {
        font-size: $font-md;
    }
}

.label {
    @apply font-medium mt-4;
}

.input-fields {
    border: 2px solid $txt-color-secondary;
    @apply py-1 px-2 mt-1 rounded bg-transparent outline-none transition-all duration-300;
    // mb-5
    &:focus {
        border-color: $txt-color-primary;
    }
}

.btns-container {
    @apply flex w-full items-center justify-between mt-1 mb-4;
}

.auth-footer {
    @apply my-6;

    a {
        color: $accent-color;

        &:hover {
            @apply underline;
        }
    }
}